.test{

    display: flex;
    flex-direction: row;

}

.filterRecipies{
    display: flex;
    flex-direction: column;
    border: solid black 1mm;
    padding: 2mm;
    max-width: 90mm;

    &__title{
        display: flex;
        flex-direction: row;
    }
}

.test3{
    border: solid black 1mm;
    margin: 1mm;
    padding: 2mm;
}