.test{
    width: 6rem;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 2mm;
    height: 3mm;
    background-color: beige;
    text-align: center;
}

.test2{
    display:flex;
    flex-direction: row;
    min-width: 300mm;
    max-width: 1200mm;
    flex-wrap: wrap;
    margin: 2rem;

}

.test4{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 300px;
}

.test5{
    width: 300px;
    margin: 10px;
    align-items: center;
    justify-items: center;
}